In [92]:
import pandas as pd

In [93]:
tinder=pd.read_csv('task2.csv')

In [94]:
tinder.head()

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0

In [95]:
tinder.isnull().sum().sum()

0

In [96]:
from sklearn.preprocessing import LabelEncoder
la_type=LabelEncoder()
la_Description=LabelEncoder()
tinder['medium']=la_type.fit_transform(tinder['Segment type'])
tinder['company']=la_type.fit_transform(tinder['Segment Description'])
y=tinder['It became a relationship']
tinder=tinder.drop(['Segment type','Segment Description','Answer','ID','It became a relationship'],axis=1)

In [97]:
tinder.head()

        Count  Percentage  medium  company
0    0.000000    0.000000       3       46
1    0.000000    0.000000       3       46
2  499.173606    0.225255       0       46
3    0.000000    0.000000       3       46
4  455.925963    0.211360       0       46

In [98]:
from sklearn.model_selection import train_test_split

In [99]:
x_train, x_test, y_train, y_test = train_test_split(tinder,y,test_size=0.1)

In [100]:
x_train.head()

          Count  Percentage  medium  company
356     1.00000    0.500000       2       99
764     0.00000    0.000000       3       46
844     0.00000    0.000000       3       46
317   834.56678    0.216744       1       46
1448    0.00000    0.000000       3       46

In [101]:
#1st model
from sklearn.linear_model import LogisticRegression

In [102]:
model1=LogisticRegression()

In [103]:
model1.fit(x_train,y_train)

LogisticRegression()

In [104]:
model1.predict(x_test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1], dtype=int64)

In [105]:
model1.score(x_test,y_test)

0.6105263157894737

In [106]:
#2nd model
from sklearn.ensemble import RandomForestClassifier

In [107]:
model2=RandomForestClassifier(n_estimators=10)

In [108]:
model2.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10)

In [109]:
model2.score(x_test,y_test)

0.9052631578947369

In [110]:
model2.predict(x_test)

array([1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0], dtype=int64)

In [111]:
from sklearn.model_selection import GridSearchCV

In [112]:
clf1=GridSearchCV(LogisticRegression(),{
    'C':[1,5,10]
},cv=5,return_train_score=False)

clf2=GridSearchCV(RandomForestClassifier(),{
    'n_estimators':[1,5,10]
},cv=5,return_train_score=False)

In [113]:
clf1.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=LogisticRegression(), param_grid={'C': [1, 5, 10]})

In [114]:
clf2.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'n_estimators': [1, 5, 10]})

In [115]:
pd.DataFrame(clf1.cv_results_)[['param_C','mean_test_score']]

  param_C  mean_test_score
0       1         0.600261
1       5         0.599088
2      10         0.599088

In [116]:
pd.DataFrame(clf2.cv_results_)[['param_n_estimators','mean_test_score']]

  param_n_estimators  mean_test_score
0                  1         0.878663
1                  5         0.882180
2                 10         0.886286

In [117]:
clf1.best_score_

0.6002606712284131

In [119]:
clf2.best_score_

0.8862856064893416

In [120]:
clf1.best_params_

{'C': 1}

In [121]:
clf2.best_params_

{'n_estimators': 10}